/*
  General
*/

p {
  letter-spacing: rem-calc(0.3);

  @include breakpoint(large) {
    font-size: rem-calc(18);
    line-height: rem-calc(34);
  }
}

.button {
  font-size: 0.9375rem;

  @include breakpoint(large) {
    font-size: 1.125rem;
  }
}